.post-container{
	margin: 20px;
	position: relative;
	background-color: #242526;
	width: 640px;
	border-radius: 1em;
	padding: 15px;
	overflow: hidden;
}

.description{
	font-weight: normal;
	margin: 10px;
}

.item-box-wrapper{
	position: relative;
	display: flex;
	gap: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	counter-reset: item;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scroll-snap-align: center;
}

.item-box-wrapper::-webkit-scrollbar{
	display: none;
}


.nextbutton{
	display: flex;
	z-index: 5;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
	background-color: #3E4042;
	left: 88%;
	top: 50%;
	position: absolute;
	height: 55px;
	width: 55px;
	border-radius: 100px;
	color: grey;
}

.prevbutton{
	display: flex;
	z-index: 5;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
	background-color: #3E4042;
	left:5%;
	top: 50%;
	position: absolute;
	height: 55px;
	width: 55px;
	border-radius: 100px;
	color: grey;
}

.nextbutton:hover{
	background-color: #525455;
}

.prevbutton:hover{
	background-color: #525455;
}

.top-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.company{
	display: flex;
	width: 200px;
	gap: 8px;
}

.company-logo{
	background-color: #231f20;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	object-fit: contain;
}

.community{
	height: 35px;
	border-bottom: 1px solid #3D4042;
}
