body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Segoe UI", system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
  font-weight: bold;
  background-color: #18191A;
  color: white;
}

/* code { */
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
/*     monospace; */
/* } */
